<%if current_customer.role_check != 'customer'%>
<p id="notice"><%= notice %></p>

<h1><%=@user_type%></h1>
    <%if @customers.present?%>
<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.name %></td>
        <td><%= link_to 'Show', customer %></td>
        <%if @user_type != 'Superadmins'%>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>
        <%else%>
          <h3>No other admins</h3>
        <%end%>

    <% if @user_type == 'Superadmins' %>
        <%= link_to 'Manage Superadmins', manage_superadmins_path%>
    <%else%>
        <%= link_to 'Manage Admins', manage_admins_path%>
    <%end%>


<%end%>