<%if current_customer.role_check != 'customer'%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<%if current_customer.role_check == 'admin'%>
    <%= link_to 'Back to admins list', list_admins_path%>
<%end%>
<%if false%>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<%end%>
<%end%>