<p id="notice"><%= notice %></p>

<p>
  <strong>Checkout time:</strong>
  <%= @reservation.checkout_time %>
</p>

<p>
  <strong>Return time:</strong>
  <%= @reservation.return_time %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @reservation.customer.name %>
</p>

<p>
  <strong>Car:</strong>
  Model: <%= @reservation.car.model %>; Plate number:<%= @reservation.car.license_plate_number %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
