<p id="notice"><%= notice %></p>
<h3>Car Details</h3>
<p>
  <strong>License plate number:</strong>
  <%= @car.license_plate_number %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @car.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Hourly rental rate:</strong>
  <%= @car.hourly_rental_rate %>
</p>

<p>
  <strong>Style:</strong>
  <%= @car.style %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car.status %>
</p>

<% if false %>
<%= link_to 'Edit', edit_car_path(@car) %>
<% end %>
<%= form_tag(new_reservation_path(:id=>1), {:method => 'get'}) do%>
    <p> <%=submit_tag "Reserve Car"%></p>
<%end%> | <%= link_to 'Back', cars_path %>